@page "/account/forgot-password"
@layout MainLayout

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 40vh;">
    <MudPaper Elevation="25" Class="pa-8" Style="width: 500px;">
        <EditForm Model="@_emailModel" OnValidSubmit="SubmitAsync">
            <FluentValidationValidator @ref="_fluentValidationValidator" />
            <MudGrid>
                <MudItem xs="12">
                    <TheTitle Title="Forgot Password" Description="Please Enter Your Email Address" Icon="@CustomIcons.Password" />
                </MudItem>
                <MudItem xs="12">
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.subtitle2" Class="mb-n4">Enter email for password reset</MudText>
                    </div>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField Label="E-mail" @bind-Value="_emailModel.Email" For="@(() => _emailModel.Email)" Variant="Variant.Outlined"></MudTextField>
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Disabled="@_disabled" Color="Color.Primary" Size="Size.Large" ButtonType="ButtonType.Submit" FullWidth="true">Reset Password</MudButton>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</MudContainer>
